@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
  max-width: 480px;
  height: auto;
  font-family: 'Roboto', sans-serif ;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/* upper menu */

.header--b-border {
  border-bottom: 1px solid #D9FFF5;
}

.upper-menu {
  width: 100%;
  height: 88px;
}

.upper-menu__icon--block {
  display: block;
}

.upper-menu--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upper-menu--bg-white {
background-color: #ffffff;
}

.upper-menu__icon:nth-child(4),
.upper-menu__icon:nth-child(5),
.upper-menu__icon:nth-child(6) {
  position: fixed;
  left: -1000px;
}

.upper-menu__vertical-line {
  border-right: 2px solid #eaeaea;
  height: 32px;
}

.upper-menu__vertical-line:nth-child(2) {
  border-right: 2px solid #eaeaea;
  height: 32px;
  position: fixed;
  left: -1000px;
}

/*======== main =========*/
/* Services */

.services {
  padding-top: 2em;
}

.services__title--flex {
  display: flex;
}

.services__vertical-line {
  border-right: 4px solid #41f6d7;
  height: 40px;
  padding-left: 1px;
  margin-right: 8px;
  border-radius: 50px;
}

.services-icons {
  position: fixed;
  left: -1000px;
}

.services_head{
  margin: 0;
}

.services-icons__icon--block {
  display: block;
}

/* Menu Slide*/

.btn--block {
  display: block;
}

.slide-menu--flex {
  display: flex;
  overflow-x: auto;
  column-gap: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
}

.btn {
  width: auto;
  height: 40px;
  font-size: 1rem;
  color: #7E7E82;
  text-align: left;
}

.btn-regular {
  border: none;
  background-color: transparent;
  white-space: nowrap;
  padding-left: 1em;
}

.btn--active {
  white-space: nowrap;
  height: 40px;
  border: 3px solid #B8FFEC;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 400;
  color: #7E7E82;
  padding-right: 6em;
  padding-left: 1em;
}

.btn--white {
  background-color: white;
}

/* About us*/

.about-us--flex {
  display: flex;
  flex-direction: column;
}

.intro__first-part {
  margin-left: 0.8em;
  padding-right: 0.119rem;
  font-size: 0.95rem;
  font-weight: normal;
}

.intro__second-part {
  margin-left: 0.8em;
  font-size: 0.95rem;
  font-weight: normal;
  position: fixed;
  left:-1000px;
}

.intro__third-part {
  font-size: 0.95rem;
  font-weight: normal;
  position: fixed;
  left:-1000px;
}

.intro__img--block,
.intro__link--block{
  display: block;
}

.intro__read-more--flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro__link {
  font-size: 16px;
  font-weight:bold;
  vertical-align: middle;
}

.intro__link--decoration-none {
  text-decoration: none;
}

.intro__link--black {
  color:black;
}

.about-us__company-img {
  width: 100%;
  height: auto;
}

.about-us__company-img--block {
  display: block;
}

@media screen and (min-width:481px)and (max-width: 1024px) {

  body{
  max-width: 100%;
  min-width: 481px;
  height: auto;
  font-family: 'Roboto', sans-serif ;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box; 
}

.upper-menu {
  width: 100%;
  height: 88px;
}

.upper-menu--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upper-menu__icon--flex-grow-5 {
  flex-grow: 5;
}

.upper-menu__icon {
  margin: 0.6em;
}

.upper-menu__icon:nth-child(4),
.upper-menu__icon:nth-child(5),
.upper-menu__icon:nth-child(6) {
  position: static;
}

.upper-menu__vertical-line {
  border-right: 2px solid #eaeaea;
  height: 32px;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.upper-menu__vertical-line:nth-child(2) {
  border-right: 2px solid #eaeaea;
  height: 32px;
  position: static;
}

.services-icons {
  position: fixed;
  left: -1000px;
}

.about-us--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5em;
}

.intro__first-part {
  margin-top: 0;
  margin-left: 0.8em;
  padding-right: 2em;
}

.intro__second-part {
  margin-left: 0.8em;
  padding-right: 1em;
  font-size: 0.95rem;
  font-weight: normal;
  position: static;
}

.about-us__company-img {
  width:50%;
  height: 50%;
  padding-right: 1.5em;
}
}

@media screen and (min-width:1025px) {
  body{
    max-width: 100%;
    min-width: 1023px;
    height: auto;
    font-family: 'Roboto', sans-serif ;
    padding: 0;
    overflow-y: auto;
  }

  .header {
    position: fixed;
    left: -1000px;
  }

  .services-icons--flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .services__title--flex {
    display: flex;
  }

  .services-icons {
    position: static;
    margin-left: auto;
    margin-right: 1.5rem;
  }

  .slide-menu--flex {
    display: flex;
    align-items: center;
    column-gap:3em;
    flex-wrap: wrap;
    margin-top: 2em;
  }

  .about-us--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5em;
  }

  .intro__first-part {
    margin-top: 0;
    margin-left: 0.8em;
    padding-right: 1.5em;
  }

  .intro__second-part {
    font-size: 0.95rem;
    font-weight: normal;
    position: static;
  }

  .intro__third-part {
    font-size: 0.95rem;
    font-weight: normal;
    position: static;
  }

  .about-us__company-img {
    width: 50%;
    height: auto;
    padding-right: 1.5em;
  }
}